:root{
    --clr-primary-100: #f9c910;
    --clr-primary-500: #0a3dab;
    --clr-primary-600: #0d54a1;

    --clr-neutral-100: #fff;
    --clr-neutral-200: #FAF9F6;
    --clr-neutral-800: #222c2a;

    --ff-primary: "Lato", sans-serif;
    --ff-accent: "Roboto", sans-serif;
}

*{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
footer,
p {
  margin: 0;
  font-family: var(--ff-primary);
}

h1{
    font-size: 8rem;
    font-weight: 600;
}

h2{
    font-size: 2rem;
}

h3{
    padding: 1vw, 0;
    font-size: 1.2rem;
    font-weight: 700;
}

img{
    max-width: 100%;
    display: inline-block;
    object-fit: cover;
}

.navbar{
    padding: 1.5% 14%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
}

.logo{
    width: 60px;
    height: 60px;
}

.navbar-links{
    height: 100%;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: white;
}

.navbar .logo a{
    text-decoration: none;
}

.navbar-links li:hover{
    background-color: #555;
}

.toggle-button {
    position: absolute;
    vertical-align: middle;
    top: 1.1rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 33px;
    height: 24px;
    color: white;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.gallery-element{
    height: 85%;
    width: 100%;
}

p,
body{
    line-height: 1;
    font-weight: 100;
    font-size: 1rem;
}

button{
    background-color: var(--clr-primary-500);
    color:#fff;
    display: inline-block;
    border: none;
    padding: 1% 2%;
    font-size: 1rem;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 0.4rem;
}

button:hover{
    background-color: var(--clr-primary-100);
    color: var(--clr-neutral-800);
}

button:active{
    background-color: var(--clr-neutral-800);
}

a{
    color: var(--clr-neutral-200);
}

.main-title{
    padding: 12vh 14%;
}

.second-title{
  font-size: 2rem;
  font-weight: 300;
  color: var(--clr-primary-600);
}

.sub{
    font-size: 2rem;
    padding: 2vw 0;
}

.split{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7% 13%;
    gap: 2%;
}

@media (max-width: 800px){
    .split{
        display: grid;
        grid-template-columns: 1fr;
        padding: 7% 20%;
        gap: 10%;
    }  
}

.content-container{
    padding: 5% 12%;
}
.gallery-container{
    padding: 5% 13%;
}

.gallery{
    padding-top: 2%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 2%;
}

.pushdown{
    padding-top: 3vh;
}
.double-space{
    line-height: 2;
}

.room{
    padding: 2%;
}

.title{
    padding: 8%;
}

.whiteh2{
    color: beige;
}

.border{
    border:0.5rem solid var(--clr-primary-500);
    border-radius: 2rem;
}

.text-centre{
    text-align: center;
}

/* footer styling*/

.footer-container{
    padding: 5% 18%;
}

.footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    white-space: nowrap;
}

footer{
    color: var(--clr-neutral-200);
    background-color: var(--clr-primary-500);
}

.split-footer{
    display: inline-flex;
    flex-direction: row;
    gap: 5%;
}

.footer-title{
    padding-top: 1vh;
    padding-bottom: 2vh;
    color: var(--clr-primary-100);
}

@media (max-width: 900px){

    .footer-container{
        padding: 8% 16%;
    }

    .footer-grid{
        grid-template-columns: 1fr;
    }

    .footer-subtitle{
        padding-top: 10vw;
    }

    .split-footer{
        flex-direction: column;
    }

    .social-media{
        line-height: 3;
    }
}




.bg-blue{
    height: 100vh;
    width: 100%;
    color: var(--clr-neutral-100);
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(leoClubBackgroundImage.jpg);
    background-position: centre;
    background-size: cover; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-off-white{
    background-color: var(--clr-neutral-200);

}

.bg-yellow{
    color:var(--clr-neutral-200);
    background-color: var(--clr-primary-500);
}



@media (max-width: 900px){


    .gallery-element{
        height: 450px;
        width: 450px;
            display: block;
            margin-left: auto;
            margin-right: auto;
    }

    
    h3{
        padding: 3vw 0;
    }

    .gallery-element{
        max-width: 100%;
        max-height: 100%;
    }

    .split{
        flex-direction: column;
    }

    .about{
        text-align: center;
    }

    .gallery{
        grid-template-columns: 1fr;
        gap: 5vh;
    }

    .gallery-container{
        padding: 8% 16%;
    }

}